/* *** */

* {
	box-sizing: border-box;
	transition: all 0.25s ease;
}

body{
	background-color: #FFDFD3;
}

/* Typography */

* {
	color: #231E1E;
}


h1 {
	color: #231E1E;
	font-family: 'Playfair Display';
	font-size: 3em;
	letter-spacing: 0.025em;
	line-height: 1.25em;
	padding: 0;
	margin: 0;
	top: -1.25em;
	left: -1.25em;
	position: absolute;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
	line-height: 1.5em;
}


p:last-child { 
	margin-bottom: 0em;}


/* Top "Nav" */
.contacts{
    position: fixed;
   	bottom: 1em;
    right: 2.75vw;
    left: 2.75vw;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.contacts a {
	color: #A54657;
	font-weight: bold;
	padding-bottom: 0.125em;
	padding-right: 1em;
	text-decoration: none;
}

.contacts a:last-child { 
	padding-right: 0em;}

/* Container Sections */
.container {
	background-color: white;
	box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.12);
	border-radius: 1em;
	width: 60%;
	margin: auto auto;
	position: relative;
	top: 48%;
	transform: perspective(1px) translateY(-50%);
	z-index: 100;
}

.container a {
	color: #A54657;
	border-bottom: solid 0.125em #D1D1D1;
	font-weight: bold;
	padding-bottom: 0.05em;
	text-decoration: none;
}

.container a:hover {
	border-bottom: solid 0.125em #231E1E;
}

/* Hero Section Overrides*/

.hero {
	}

.hero .container {
	padding: 5em 2.5em 2.5em 2.5em;
}


/* Work Section Overrides*/

.work .container {
	padding: 5em 2.5em 2.5em 2.5em;
}

.work h1 {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0em;
	text-align: center;;
}

/* About Section Overrides*/

.about {
	}

.about .container {
	padding: 2.5em 2.5em 5em 2.5em;
}


/* Floating Animation */

.background {
	position: fixed;
	width: 100%;
}

.animation {
  -webkit-animation: wiggle 120s 0.1s infinite linear;
  -moz-animation: wiggle 120s 0.1s infinite linear;
  animation: wiggle 120s 0.1s infinite linear;
}

 @keyframes wiggle {
 		0% {
 			-webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
 			-moz-transform: rotateZ(0deg) translate3d(0, 10%, 10%) rotateZ(0deg);
 			transform: rotateZ(0deg) translate3d(0, 2%, 10%) rotateZ(0deg);
	 }

	 100% {
	 		-webkit-transform: rotateZ(360deg) translate3d(0, 10%, 20%s) rotateZ(-360deg);
	 		-moz-transform: rotateZ(360deg) translate3d(0, 10%, 20%) rotateZ(-360deg);
	 		transform: rotateZ(360deg) translate3d(0, 1%, 0) rotateZ(-360deg);
	 }
 }

/* Mobile Breakpoint */
@media all and (max-width: 500px) {
	body {
		font-size: 0.75em;

 	}
 	.container {
		width: 80%;
	}

	h1 {
		font-size: 2.5em;
		left: -0.5em;
	}
 }

 @media all and (max-width: 320px) {
	body {
		font-size: 0.5em;
 	}
 }